body {
    font-family: 'Roboto', sans-serif;
}

#root {
}

#backgroundImage {
    background-image: url('assets/capa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;
    height: 100%;
}

#content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

#pageTitle {
    font-size: 100%;
}

#infoCircle {
    color: pink;
}

#mainRow {
    margin-top: 7.5%;
    margin-left: 3%;
}

#mainRow-image {
    width: 100%;
    height: auto;

    -webkit-box-shadow:0 3px 3px grey;
    -moz-box-shadow:0 3px 3px grey;
    box-shadow:0 3px 3px grey;
}

#mainRow-question {
    height: fit-content;
    padding-top: 2.5%;
    padding-bottom: 2%;
    background-color: white;

    -webkit-box-shadow:0px 3px 3px grey;
    -moz-box-shadow:0px 3px 3px grey;
    box-shadow:0px 3px 3px grey;
}

#speech {
    font-size: 90%;
}

#acceptButton {
    float: right;
}

#declineForm {
    float: right;
}

#acceptForm {
    height: fit-content;
    width: 66%;
    padding: 2.5% 2.5% 2.5% 2.5%;
    margin-top: 2%;
    background-color: white;
    float: right;

    -webkit-box-shadow:0px 3px 3px grey;
    -moz-box-shadow:0px 3px 3px grey;
    box-shadow:0px 3px 3px grey;
}

#validerForm {
    margin-left: 40%;
}
